@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* ---------------------Fonts--------------------- */
:root {
  --title: clamp(3.62rem, calc(-0.56rem + 10.88vw), 8.5rem);
  --subhead: clamp(1.2rem, calc(0.82rem + 1vw), 2.53rem);
  --button-text: clamp(0.98rem, calc(0.83rem + 0.54vw), 1.3rem);
  --art-head: clamp(0.98rem, calc(0.83rem + 0.7vw), 3.3rem);
  --desription: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --sticker: clamp(7rem, calc(4.22rem + 13.91vw), 15rem);
  --tasty: clamp(6.38rem, calc(7.42rem + 9.78vw), 15rem);
  --Breakfast: clamp(2.44rem, calc(1rem + 2.17vw), 4.8rem);
}
.title {
  font-size: var(--title);
}

.subhead {
  font-size: var(--subhead);
}

.button-text {
  font-size: var(--button-text);
}

.art-head {
  font-size: var(--art-head);
}
.Breakfast {
  font-size: var(--Breakfast);
}
.desription {
  font-size: var(--desription);
}

.sticker-width {
  width: var(--sticker);
}

.tasty {
  font-size: var(--tasty);
}
/* ---------------------gap--------------------- */

.gap {
  --space-0: clamp(2.88rem, calc(0.75rem + 2.63vw), 7.5rem);
  gap: var(--space-0) 0px;
}

.padding_left-art {
  --pad-0: clamp(1.25rem, calc(1.03rem + 1.09vw), 1.88rem);
  padding-right: var(--pad-0);
  padding-left: var(--pad-0);
}
